<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener" />
    </sharedListeners>
    <sources>
      <source name="OfficeDevPnP.Core" switchValue="Verbose">
        <listeners>
          <add name="console" />
        </listeners>
      </source>
    </sources>
    <trace indentsize="0" autoflush="true">
      <listeners>
        <add name="console" />
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>    
    <add key="ClientId" value="2ad244bb-5376-4706-b81a-f87c96308ec4"/>
    <add key="ClientSecret" value="lOykwNuODn9aQhpIVBZ6HYh5I8vHWm36wh0JwAhBBq8="/>
    <add key="HostSiteUrl" value="https://dreamsonline.sharepoint.com/sites/provisioningrequests"/>    
    <add key="BaseSiteTemplate" value="STS#0"/>    
    <add key="PrimarySiteCollectionAdmin" value="lokesh@dreamsonline.onmicrosoft.com"/>
    <add key="TenantAdmin" value="lokesh@dreamsonline.onmicrosoft.com"/>
    <add key="TenantAdminPassword" value="May@2017"/>
  </appSettings>
</configuration>