<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="pnp">
      <section
      name="tracing"
      type="OfficeDevPnP.Core.Diagnostics.LogConfigurationTracingSection, OfficeDevPnP.Core"
      allowLocation="true"
      allowDefinition="Everywhere"
			    />
    </sectionGroup>
  </configSections>
  <pnp>
    <tracing logLevel="Debug">
      <logger type="OfficeDevPnP.Core.Diagnostics.TraceLogger, OfficeDevPnP.Core, Culture=neutral, PublicKeyToken=null" />
    </tracing>
  </pnp>
  <system.diagnostics>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener" />
    </sharedListeners>
    <trace indentsize="0" autoflush="true">
      <listeners>
        <add name="console" />
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ClientId" value="2ad244bb-5376-4706-b81a-f87c96308ec4"/>
    <add key="ClientSecret" value="lOykwNuODn9aQhpIVBZ6HYh5I8vHWm36wh0JwAhBBq8="/>
    <add key="HostSiteUrl" value="https://dreamsonline.sharepoint.com/sites/provisioningrequests"/>
    <add key="TenantAdminUrl" value="https://dreamsonline-admin.sharepoint.com"/>
    <add key="BaseSiteTemplate" value="STS#0"/>
    <add key="PrimarySiteCollectionAdmin" value="lokesh@dreamsonline.onmicrosoft.com"/>
  </appSettings>
</configuration>